<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<h1 style="margin-top: 5%;" class="important-title text-center">Vos préférences</h1>
<table class="custom-table table table-striped table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th>Station</th>
      <th>Ligne</th>
      <th>Direction</th>
      <th>Horaires</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stop of aa">
      <td>{{ stop.stationFavoris }}</td>
      <td>{{ stop.busFavoris }}</td>
      <td>{{ stop.direction }}</td>
      <td>{{ stop.horaire }}</td>
      <td>
        <button class="btn btn-sm btn-danger btn-action" (click)="supprimerPreference(stop.id)">
          Ne plus recevoir des emails
        </button>
      </td>
    </tr>
  </tbody>
  <td colspan="3">
    <p *ngIf="noUser" style="text-align: center;" class="important-text">Vous devez creer un compte pour recevoir des emails sur les horaires des bus</p>
  </td>
</table>

<a *ngIf="!this.noUser" class="btn btn-secondary d-block mx-auto mt-3" style="width: 150px;" href="/formulaire">Creer</a>
<a *ngIf="this.noUser" class="btn btn-secondary d-block mx-auto mt-3" style="width: 150px;" href="/register">Creer</a>
<a class="btn btn-primary d-block mx-auto mt-3" style="width: 150px;" href="/accueil">Retourner</a>
