
<div class="login-container">
    <div class="login-card">
      <h2 class="login-title" routerLink="/accueil" style="color: blue;text-decoration: underline;cursor: pointer;" >BusEase</h2>
      <h3>Connecter vous pour recevoir des emails sur vos bus favoris</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email" 
            id="email" 
            class="form-control smooth-input" 
            formControlName="email" 
            placeholder="Enter your email" 
            required
          />
          <div *ngIf="emailMessage" [ngClass]="{'error-message': isErrorEmail, 'success-message': !isErrorEmail}">
            {{ emailMessage }}
          </div>
        </div>
        <div class="form-group">
          <label for="mdp">Password</label>
          <input 
            type="password" 
            id="mdp" 
            class="form-control smooth-input" 
            formControlName="mdp" 
            placeholder="Enter your password" 
            required
          />
          <div *ngIf="mdpMessage" [ngClass]="{'error-message': isErrorMdp, 'success-message': !isErrorMdp}">
            {{ mdpMessage }}
          </div>
          <h3 (click)="popup.open()" class="forgot-password">Vous avez perdu votre mdp?</h3>
<app-recup-mdp #popup></app-recup-mdp>

          <div *ngIf="errorMessage" [ngClass]="{'error-message': isError, 'success-message': !isError}">
            {{ errorMessage }}
          </div>
        </div>
        <button class="btn btn-login">Sign In</button>
        <h3> Vous avez pas un compte? <span routerLink="/register" style="text-decoration: underline; color: blue; cursor: pointer;" >S'enregister?</span> </h3>
      </form>
      
    </div>
  </div>
  